# these are the supported pillars with their defaults

mesosphere:
  mesos_version: '0.20.0'
  marathon_version: '0.20.0'
  config:
    cluser_name: 'MyMesosCluster'
    port: 5050
    timeout: 5min

# you can override everything in config: locally with grains.
